[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Button
Comment=Test plugin for the Xfce 4.7 Panel
X-XFCE-Unique=true
X-XFCE-Module=button
X-XFCE-Internal=FALSE
